/* Extra small */
@media (max-width: 575.98px) {

    .navbar-toggler i {
        font-size: 32px;
    }

    .navbar-nav {
        text-align: center;
        background: rgba(198, 19, 52, 0.87);
        padding: 9px 0px;
        border-radius: 10px;
    }

    .nav-link {
        color: #fff !important;
        font-family: "Nunito", serif;
    }

    .rowH2 {
        margin-left: 101px;
        font-size: 83px;
    }

    .rowP {
        font-size: 23px;
        margin-left: 96px;
        padding-bottom: 12px;
    }

    .btn {
        margin-left: 105px;
    }

    .banner-part {
        padding-bottom: 30px;
    }

    .servicePart {
        text-align: center;
        margin-left: 77px;
    }


    .newRow {
        margin-left: 77px;
    }

    .serText {
        margin-left: 77px;
    }

    .lauH3 {
        text-align: center;
        margin-left: 99px;
    }

    .lauP {
        text-align: center;
        margin-left: 99px;
    }

    .newMove {
        text-align: center;
        margin-left: 40px;
    }

    .launch {
        padding-bottom: 7px;
        padding-top: 20px;
    }

    .moveImg1{
        padding-bottom: 30px;
    }

    .showH1 {
        text-align: center;
        margin-left: 101px;
    }

    .showP {
        text-align: center;
        margin-left: 93px;
    }

    .rowPad {
        text-align: center;
        margin-left: 50px;
    }

    .trustH3 {
        text-align: center;
        margin-left: 64px;
    }

    .forTop{
        margin-left: 50px;
    }

    .rowPT {
        text-align: center;
        margin-left: 30px;
    }

    .triH2 {
        text-align: center;
        margin-left: 67px;
    }

    .triP {
        text-align: center;
        margin-left: 67px;
    }

    .triImg {
        margin-left: 36px;
    }

    .respsTrial{
        text-align: center;
        margin-left: 30px;
        font-size: 20px;
    }

    .btn4{
        padding: 10px 20px;
        color: #ffffff;
        background: #8454F5;
        border-radius: 10px;
    }

    .traih2{
        padding-bottom: 20px;
    }

    .resTrialI{
        padding-top: 20px;
    }

    .socialH2 {
        text-align: center;
        margin-left: 54px;
    }

    .overlayStart {
        padding: 45px 15px;
        text-align: center;
    }

    .forAlFS{
        text-align: center;
    }
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices */
@media (min-width: 1200px) {}

/* Small devices */
@media (min-width: 320px) and (max-width: 767.98px) {}