/* Extra small */
@media (max-width: 575.98px) {

     .navbar-toggler i{
        font-size:32px;
    }

    .navbar-nav {
        text-align: center;
        background: rgba(198, 19, 52, 0.87);
        padding: 9px 0px;
        border-radius: 10px;
    }

    .nav-link{
        color: #fff !important;
        font-family: "Nunito", serif;
    }

    .rowH2 {
        margin-left: 101px;
        font-size: 83px;
    }

    .rowP {
        font-size: 23px;
        margin-left: 96px;
        padding-bottom: 12px;
    }

    .btn {
        margin-left: 105px;
    }
    
    .banner-part {
        padding-bottom: 30px;
    }
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices */
@media (min-width: 1200px) {}

/* Small devices */
@media (min-width: 320px) and (max-width: 767.98px) {}